{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-12">
                <img alt="Logo" src="{% static 'img/Logo.png' %}" class="center-block" style="width: 100%; height: auto;">
            </div>
            {% comment %} <iframe width="560" height="315" src="https://www.youtube.com/embed/TnwIcB6LbOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
        </div>
    </div>
</div>
{% endblock body %}




