{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<style>
    .intro{
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        color: white;
        background-position: 10% 45%;
        background: url("{% static 'img/background_home.png' %}") no-repeat bottom center scroll;
        background-color: grey;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
        
    }
</style>
<div class="container-fluid">
    <div class="intro">
        <div class="container">
            <div class="logo">
                <img alt="Logo" src="{% static 'img/logo_sem_fundo.png' %}">

                <P>
                    <strong>Tiê Representações e <br> Assessoria para Lojistas</strong>
                </P>

            </div>
        </div>
    </div>
    <section id="encontra" class="section-full">
        <div class="text-center mb-5 mt-5">

            <h1>
                Aqui você encontra
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="encontra">
                    <img src="{% static 'img/Assessoria.svg' %}">
                    </div>
                    <h2 class="solucoes-p">
                        Assessoria
                    </h2>
                    <p>
                        A Tiê Representações oferece apoio de
                        profissionais que
                        acompanham o lançamento e giro de
                        produtos com visitas periódicas ao
                        cliente,
                        visando integrar lojistas e fabricantes de
                        maneira segura, rápida com excelente
                        resultado nos negócios. Para receber os
                        clientes, com instalações planejadas
                        que proporcionam conforto e facilidade
                        na escolha das marcas.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="{% static 'img/representacao.svg' %}">
                    <h2 class="solucoes-p">
                        Representação
                    </h2>
                    <p>
                        Com mais de 20 anos de experiência na
                        representação das
                        melhores marcas de Nova Serrana e
                        região. A Tiê Representações oferece
                        produtos de qualidade, com preços
                        diferenciados que atendem o perfil de
                        cada público alvo. Possui todas as
                        condições necessárias para a
                        comercialização de calçados e uma
                        equipe treinada que efetua o
                        acompanhamento dos pedidos nas
                        fábricas, da programação á entrega nas
                        lojas.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="{% static 'img/design.svg' %}">
                    <h2 class="solucoes-p">
                        Design
                    </h2>
                    <p>
                        Desenvolvimento do design de calçados
                        com profissionais qualificados, baseado
                        em estudos de mercado e tendências,
                        além de consultoria na indicação de
                        produtos que podem ser desenvolvidos
                        com a marca de identidade visual de
                        cada cliente.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="{% static 'img/location.svg' %}">
                    <h2 class="solucoes-p">
                        Abrangência
                    </h2>
                    <p>
                        A Tiê Representações possui entre seus
                        clientes os mais conceituados lojistas
                        calçadistas, e por isso está presente em
                        mais de 700 pontos de vendas
                        espalhados por todo o Brasil. A qualidade
                        da nossa completa assessoria ao lojista
                        se confirma no sucesso dessas grandes
                        parcerias.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock body %}