[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest = "*"
django-debug-toolbar = "*"
pytest-cov = "*"
codecov = "*"
model-bakery = "*"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
sentry-sdk = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
django-extensions = "*"
ipython = "*"
sendgrid = "*"

[requires]
python_version = "3.9"
