{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{fabricante.nome}}{% endblock title %}
{% block description %}Página com detalhes do fabricante {{fabricante.nome}}{% endblock description %}
{% block body %}
<div class="container">
{% for fabricante in fabricantes %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ fabricante.nome }}</h1>
            <h2>Imagens</h2>
                <ol>
                    {% for imagem in fabricante.imagens %}
                        <li><a href="{{ imagem.get_absolute_url }}">{{ imagem.titulo }}</a></li>
                    {% endfor %}
                </ol>
        </div>
    </div>
{% endfor %}
</div>
{% endblock body %}
