{% extends 'base/base.html' %}
{% load static %}

{% block title %}Todas as imagens{% endblock title %}
{% block description %}Todas as imagens{% endblock description %}
{% block body %}
<div class="container">
    <!-- Card -->
    <div class="card promoting-card mt-5">

        <!-- Card content -->
        <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="{% static 'img/Logo.png' %}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>

                <!-- Title -->
                <h4 class="card-title font-weight-bold mb-2">{{ imagem.titulo }}</h4>
                <!-- Subtitle -->
                <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>Data da publicação:
                    {{ imagem.data_publicacao |date:"SHORT_DATE_FORMAT" }}</p> -->

            </div>

        </div>

        <!-- Card image -->
        <div class="view overlay">
            <img src="{{ imagem.imagem.url }}" class="card-img-top rounded-5" alt="...">
        </div>

        <!-- Card content -->
        <div class="card-body">

            <div class="collapse-content">
                <p>{{ imagem.descricao }}</p>
            </div>

        </div>

    </div>
    <!-- Card -->

<!-- LIKES -->
{% if user.is_authenticated %}
  <form action="{% url 'catalogos:new_like' imagem.slug %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="imagem_id" value="{{imagem.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="imagem_id" value="{{imagem.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
{% endif %}
<strong class="text-secondary">{{ imagem.number_of_likes }} Like</strong>


</div>
{% endblock body %}