{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{catalogo.titulo}}{% endblock title %}
{% block description %}Página com detalhes dos catálogos{{catalogo.titulo}}{% endblock description %}
{% block body %}
<div class="container">
{% for catalogo in catalogos %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ catalogo.titulo }}</h1>
            <dl>
                <dt>Descrição</dt>
                <dd>{{ catalogo.descricao }}</dd>
            </dl>
            <h2>Catálogos</h2>
                <ol>
                    {% for imagem in catalogo.imagens %}
                        <li><a href="{{ imagem.get_absolute_url }}">{{ imagem.titulo }}</a></li>
                    {% endfor %}
                </ol>
        </div>
    </div>
{% endfor %}
</div>
{% endblock body %}
